/* Add Customizer Styles Here */
.customize-control-radio-image .image.ui-buttonset input[type=radio] {
	height: auto;
}

.customize-control-radio-image .image.ui-buttonset label {
	display: inline-block;
	width: 48%;
	padding: 1%;
	box-sizing: border-box;
}

.customize-control-radio-image .image.ui-buttonset label.ui-state-active {
	background: none;
}

.customize-control-radio-image .customize-control-radio-buttonset label {
	background: #f7f7f7;
	line-height: 35px;
}

.customize-control-radio-image label img {
	opacity: 0.5;
}

#customize-controls .customize-control-radio-image label img {
	height: auto;
}

.customize-control-radio-image label.ui-state-active img {
	background: #dedede;
	opacity: 1;
}

.customize-control-radio-image label.ui-state-hover img {
	opacity: 1;
	box-shadow: 0 0 0 3px #f6f6f6;
}
